<!DOCTYPE html>
<html lang="en">
<title>Catalogo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" type="image/png" href="static/img/icons/favicon.ico"/>

<link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
<link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.gradient {
  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="col" >
    <img src="static/img/imgPerfil/{{g.foto}}" class="w3-bar-item" style="height: 60px; width: 80px;" alt="" loading="lazy">
    </div>
    <div class="col">
    <h5 class="card-title w3-bar-item w3-padding-large w3-hide-small">Bienvenid@</h5>
    </div>
    <div class="col">
    <h6 class="card-title w3-bar-item w3-padding-large w3-hide-small">{{g.user}}</h6>
    </div>
    <a href="/perfil" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Inicio</a>
    <a href="/historial" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Historial</a>
    <a href="/conversion" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Conversion</a> 
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Catalogo <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/tester" class="w3-bar-item w3-button">Inspeccionar producto</a>
      </div>
    </div>
    <a href="/close" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Cerrar Sesion</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/perfil" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Inicio</a>
  <a href="/historial" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Historial</a>
  <a href="/conversion" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Conversion</a>
  <a href="/tester" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Inspeccionar producto</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">


  {% if errorLog %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Error</strong> {{errorLog}}.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>

	{% endif %}

	<h1><b>My Portfolio</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black gradient">ALL</button>
      <button disabled class="w3-button w3-white gradient"><i class="fa fa-bath w3-margin-right"></i>Muebles</button>
      <button disabled class="w3-button w3-white w3-hide-small gradient"><i class="fa fa-tree w3-margin-right"></i>Otros</button>
    </div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    {% set dev = namespace(value=0)  %}
  {% for ob in data %}
  {% if dev.value | int == 3 %}
    <div class="w3-row-padding">
    </div>
    {% set dev.value = 0 %}
  {% endif %}
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="static/img/catalogo/{{ob.4}}" alt="" style="width:190px; height: 280px; margin: auto;" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b>{{ob.1}}</b></p>
      <p>${{ob.3}}</p>
    </div>
  </div>
    {% set dev.value = dev.value + 1 %}
  {% endfor %}
</div>


  
  

 
<!-- End Page Content -->
</div>

<script>
// Automatic Slideshow - change image every 4 seconds


// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
