<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <title>Contrato Ekkos de Nombre</title>
<style>
    html, body{height: 70%;}
    body{
        background-color: #DDECF4;
        background-size: 100% 100%;
        font-weight: 300;
        height: 100%;
        text-align: center;
        color: #262B34;
    }
    .bold{
        font-weight: 300;
    }
</style>
</head>
<body>
    <div style="padding-top: 60px;">
        <div>
            <h1 class="bold">Contrato de Ekkos</h1>
            <p style="margin-top: 25px;margin-bottom: 0px;" class="light"> Contrato de:</p>
            <p style="font-size: 2.4em;color: #1bbc9b;margin: 0px;" class="bold">Nombre</p>

            <br>
            <p style="margin: 0px;">Dirección:</p>
            <p style="font-size: 1em;" class="bold">Dirección</p>
            <p style="margin: 0px;">Curp:</p>
            <p style="font-size: 1em;" class="bold">Curp</p>
            <p style="margin: 0px;">Fecha de nacimiento:</p>
            <p style="font-size: 1em;" class="bold">Fecha</p>
            <p style=" font-size: 1em; ">Condiciones del contrato:</p>
            <p style="font-size: 1em; margin-right: 25%;margin-left: 25%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias illum quia repudiandae cupiditate placeat, impedit sequi numquam labore minus, non, dolorem officia praesentium. Accusantium repudiandae necessitatibus doloribus quam alias dolore? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ipsum asperiores sed modi incidunt laborum! Accusantium, consectetur, sapiente officiis deserunt fugiat similique maxime quam tempore et nihil atque, debitis cupiditate.</p>
            <br>
            <br>

            <p>__________________________</p>
            <p>Firma de: Nombre</p>
        </div>
    </div>
</body>
</html>