
<!DOCTYPE html>
<html lang="en">
<title>Historial</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" type="image/png" href="static/img/icons/favicon.ico"/>

<link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
<link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/utilTable.css">
	<link rel="stylesheet" type="text/css" href="static/css/table.css">

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.bubble {
 background: #00bfb6;
 padding: 1.5em;
 text-align: center;
 font-weight: 900;
 color: #fff;
 font-family: arial;
 position: relative;
}

.bubble:after { 
 content: "";
 width: 0px;
 height: 0px;
 position: absolute;
 border-left: 10px solid #00bfb6;
 border-right: 10px solid transparent;
 border-top: 10px solid #00bfb6;
 border-bottom: 10px solid transparent;
 left: 39px;
 bottom: -19px;
}

.circle {
 width: 70px;
 height: 70px;
 position: relative;
 left: 15px;
 margin-top: 5%;
}


</style>
<body style=" padding: 0; margin: 0;">
  {% if onboarding == 1 %}
  <div style="background-color: rgba(128, 128, 128, 0.726); width: 100%; height: 100%; overflow: auto; position:absolute;z-index:1000;">
    <div  style="margin: auto; height: 40%;width: 46%; margin-top: 27%;">
      <div class="bubble" id="bubble">
        <div id="textBot">
          Aquí en tu historial podras ver todos tus movimiento.
          <br>Para volver a tu perfil solo precio el botón de inicio en el menú.
          <br>¡Chequealo!.
        </div>
        <button id="btnHist"><i class="fa fa-arrow-right" style="text-align: left;color: white;" aria-hidden="true"></i></button>
      </div>
      <img src="static/img/botHelp.png" id="bipbop" class="circle">
    </div>
  </div>
  {% endif %}

<!-- Navbar -->
<div class="w3-top" id="Nav">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="col" >
    <img src="static/img/imgPerfil/{{g.foto}}" class="w3-bar-item" style="height: 60px; width: 80px;" alt="" loading="lazy">
    </div>
    <div class="col">
    <h5 class="card-title w3-bar-item w3-padding-large w3-hide-small">Bienvenid@</h5>
    </div>
    <div class="col">
    <h6 class="card-title w3-bar-item w3-padding-large w3-hide-small">{{g.user}}</h6>
    </div>
    <a href="/perfil" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Inicio</a>
    <a href="/conversion" id="conv" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Conversion</a> 
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" id="catG" title="More">Productos <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/catalogo" id="cat" class="w3-bar-item w3-button">Catalogo</a>
        <a href="/tester" id="test" class="w3-bar-item w3-button">Inspeccionar producto</a>
      </div>
    </div>
    <a href="/close" id="close" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Cerrar Sesion</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/perfil" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Inicio</a>
  <a href="/conversion" id="convC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Conversion</a>
  <a href="/catalogo" id="catC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Catalogo</a>
  <a href="/tester" id="testC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Inspeccionar producto</a>
  <a href="/close" id="closeC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Cerrar sesion</a>

</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;">

  {% if errorLog %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Error</strong> {{errorLog}}.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>

	{% endif %}

    {% if vac %}
    <div class="alert alert-info" role="alert" style="text-align: center; width: 70%; margin: auto;"> 
       {{vac}}.
      </div>
  
    {% endif %}
    

  

 
  <div class="limiter">
		<div class="container-table100" >
			<div class="wrap-table100" id="tableH" >
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Folio</th>
								<th class="column1">Monto de compra</th>
								<th class="column1">Fecha de compra</th>
								<th class="column1">Rubro</th>
								<th class="column1">Puntos obtenidos</th>
                <th class="column1">Expiración</th>
                <th class="column1">Status</th>
							</tr>
						</thead>
						<tbody>
              {% for row in tabla %}
              <tr>
                  {% for cell in row %}
                    <td class="column1">{{cell}}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

  
 
  
<!-- End Page Content -->
</div>


<script>
// Automatic Slideshow - change image every 4 seconds

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/js/table.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script>
$('#btnHist').click(function () {

  $.ajax({
      type: 'POST',
      url: '/OnBoard',
      headers:{
        'Content-Type':'application/json'
        },
      data: JSON.stringify({"estado":"2"}),
      dataType:"json",
      success: function(res) {
        console.log('cambio!');                      
        },
      error: function() {
        console.log("No se cambio el usuario");
        }
    });
    document.getElementById('tableH').style.zIndex=1000;
    document.getElementById('Nav').style.zIndex=2000;
    document.getElementById('navDemo').style.zIndex=2000;
    document.getElementById('catG').style.visibility="hidden";
    document.getElementById('conv').style.visibility="hidden";
    document.getElementById('cat').style.visibility="hidden";
    document.getElementById('test').style.visibility="hidden";
    document.getElementById('close').style.visibility="hidden";

    document.getElementById('bubble').style.visibility="hidden";
    document.getElementById('bipbop').style.visibility="hidden";
    
    
    
    document.getElementById('convC').style.visibility="hidden";
    document.getElementById('catC').style.visibility="hidden";
    document.getElementById('testC').style.visibility="hidden";
    document.getElementById('closeC').style.visibility="hidden";

    
  });

</script>
</body>
</html>


 

 