
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal ekkos</title>
    <link rel="shortcut icon" href="../static/ekko.jpg" type ="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='estilos.css')}}" >
    
<body>
    <header>
        <nav>
            <a href="#"> Inicio  </a>     
            <a href="/registro"> Suscribirse  </a>
            <a href="/login"> Iniciar Sesión  </a>
        </nav>

       <section class="textos-header">
            <h1> Ayuda a tu bolsillo con un sistema de Puntos </h1>
            <h2>Lo mejor para tu familia</h2>
       </section>
       <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>


        </div>
    </header>

    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Sobre Nosotros</h2>
            <div class="contenedor-sobre-nosotros"> 
            <img src="../static/nosotros.jpg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>El mejor sistema de puntos</h3>  
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error voluptas provident nesciunt mollitia, sunt, hic consequatur amet modi laboriosam nostrum! Ipsam voluptas inventore illum magnam minima culpa quas reiciendis!</p>
                
                <h3><span>2</span>El mejor sistema de puntos</h3>  
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error voluptas provident nesciunt mollitia, sunt, hic consequatur amet modi laboriosam nostrum! Ipsam voluptas inventore illum magnam minima culpa quas reiciendis!</p>
            </div>
        </div>
        </section>

        <section class="portafolio">
            <div class="contenedor">
               <h2 class="titulo">Portafolio</h2>
               <div class="galeria-port">
                   <div class="imagen-port">
                       <img src="../static/img1.jpg" alt="">
                       <div class="hover-galeria">
                           <img src="../static/target.png" alt="">
                           <p>Nuestro Trabajo</p>
                       </div>
                    </div>
                       <div class="imagen-port">
                        <img src="../static/img2.png" alt="">
                        <div class="hover-galeria">
                            <img src="../static/target.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                        <div class="imagen-port">
                            <img src="../static/img3.png" alt="">
                            <div class="hover-galeria">
                                <img src="../static/target.png" alt="">
                                <p>Nuestro Trabajo</p>
                            </div>
                        </div>
                            <div class="imagen-port">
                                <img src="../static/img4.png" alt="">
                                <div class="hover-galeria">
                                    <img src="../static/target.png" alt="">
                                    <p>Nuestro Trabajo</p>
                                </div>
                            </div>
                                <div class="imagen-port">
                                    <img src="../static/img5.png" alt="">
                                    <div class="hover-galeria">
                                        <img src="../static/target.png" alt="">
                                        <p>Nuestro Trabajo</p>
                                    </div>
                                </div>        
                                    <div class="imagen-port">
                                        <img src="../static/img5.png" alt="">
                                        <div class="hover-galeria">
                                            <img src="../static/target.png" alt="">
                                            <p>Nuestro Trabajo</p>
                                        </div> 
                                    </div>
                                        <div class="imagen-port">
                                            <img src="../static/img7.jpg" alt="">
                                            <div class="hover-galeria">
                                                <img src="../static/target.png" alt="">
                                                <p>Nuestro Trabajo</p>
                                            </div>
                                        </div> 
                                            <div class="imagen-port">
                                                <img src="../static/img8.png" alt="">
                                                <div class="hover-galeria">
                                                    <img src="../static/target.png" alt="">
                                                    <p>Nuestro Trabajo</p>
                                                </div>  
                                            </div>                               
                   </div>
               </div>
            </div>
        </section>

        <section>
            <section class="clientes contenedor">
                <h2 class="titulo">¿Que dicen de nosotros?</h2>
                 <div class="cards">
                    <div class="card">
                        <img src="../static/feliz.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Rodo</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tempora.</p>
                        </div>
                    </div>
                        <div class="card">
                            <img src="../static/mfeliz.jpg" alt="">
                            <div class="contenido-texto-card">
                                <h4>Nomis</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tempora.</p>
                            </div>
                        </div>
                    </div> 
                 </div>   

            </section> 
            <section class="about-services">
                <div class="contedor">
                        <h2 class="titulo">Nuestro Servicios</h2>
                        <div class="servicio-cont">
                            <div class="servicio-ind">
                                <img src="../static/ahorrar.jpeg" alt="">
                                <h3>Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, id!</p>
                            </div>
                            <div class="servicio-ind">
                                <img src="../static/acumula.png" alt="">
                                <h3>Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, id!</p>
                            </div>
                            <div class="servicio-ind">
                                <img src="../static/gasta.jpg" alt="">
                                <h3>Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, id!</p>
                            </div>
                        </div>
                </div>

            </section>
    
        </section>
    </main>    

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>5579191437</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>braya.jacinto@lasallistas.org.mx</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>MiCasa</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Chuck </h2>
    </footer>

</body>
</html>