<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="static/rodaja-de-naranja.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styleD.css')}}"> 
    <title>Catalogo</title>
    <style>
    .zoom:hover {
        -ms-transform: scale(1.7); /* IE 9 */
        -webkit-transform: scale(1.7); /* Safari 3-8 */
        transform: scale(1.1); 
        background-color:  #E67E22;
        
      }
      .up:hover {
        transform: translate(0, -15px); 
      }
      </style>
  </head>
  <body>
    <iframe id="bot" src='https://webchat.botframework.com/embed/powerc-chat-bot?s=9ZZtNyxP4vI.ZssJoWtMtEFgpdqnaU2MsyOIWX5zR71s0R46Er8ch6o'  style='display: none; width: 19%; height: 40%; ;position: absolute; margin-top: 33%; margin-left: .5%;'></iframe>
    <div id="bit" class="card mb-3 up" onclick="chat()" style="position: absolute; width: 19%;height: 15%; margin-top: 50%; margin-left: .5%; background-color: rgb(7, 7, 7);">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/miv.gif" class="card-img" alt="..." style="margin-top: 1%">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title">¿Te puedo ayudar?</h6>
          </div>
        </div>
      </div>
    </div>

      <div class="d-flex">
          <div id="sidebar-container" class="bg-primary">
              <div class="logo"><h4 class="text-light font-weight-bold mb-0">Orange Juice</h4></div>
              <div class="menu">
                <a href="/compras" class="d-block text-light p-3"><i class="icon ion-md-camera mr-2 lead"></i>Inspeccionar Prouctos</a>
                <a href="/devoluciones_reembolsos" class="d-block text-light p-3"><i class="icon ion-md-cube mr-2 lead"></i>Devoluciones y Reembolsos</a>
                <a href="/mis_pedidos" class="d-block text-light p-3"><i class="icon ion-md-pricetags mr-2 lead"></i>Catalogo</a>
                <a href="/rewards" class="d-block text-light p-3"><i class="icon ion-md-wallet mr-2 lead"></i>Recompensas</a>
                </div>
          </div>

          <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-botton">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
              
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="static/{{nomre}}.png" class="img-fluid rounded-circle avatar mr-2">
                        {{nomre}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/perfil_cliente">Mi Perfil</a>
                          <a class="dropdown-item" href="/onboarding">Onboarding</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/close">Cerrar sesión</a>
                        </div>
                        </li>
                    </ul>
                    </div>
                </div>
              </nav>

              <div id="content">
                  <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">Mi Perfil</h1>
                                <p class="lead text-muted">Aquí podras encontrar tu información</p>
                            </div>
                        </div>
                    </div>
                  </section>
                 
                  <section>
                    <div class="container py-2">
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col-lg-5 mb-4">
                              <div class="card">
                                <center><img src="static/{{nomre}}.png" class="img-fluid rounded-circle mr-2" style="width: 100px; height: 100px; "></center>
                                <div class="card-body">
                                  <h3 class="card-title" style="text-align: center; top: -20px; ">{{DU[0][1]}} {{DU[0][2]}}</h3>
                                  <p class="card-title text-muted" style="text-align: center;">Cliente premier</p>
                                  <p class="card-text text-muted">Dirección: {{DU[0][6]}} </p>
                                  <p class="card-text text-muted">Teléfono: {{DU[0][7]}} </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-7 mb-4">
                                <div class="container">
                                    <div class="card">
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-lg-4 stat d-flex my-3">
                                            <div class="mx-auto">
                                              <h6 class="text-muted">Mis Puntos</h6>
                                              <h2 class="font-weight-blod">0</h2>
                                            </div>
                                          </div>
                                          <div class="col-lg-4 stat d-flex my-3">
                                            <div class="mx-auto">
                                              <h6 class="text-muted">Puntos en espera</h6>
                                              <h2 class="font-weight-blod">500</h2>
                                            </div>
                                          </div>
                                          <div class="col-lg-4 d-flex my-3">
                                            <div class="mx-auto">
                                              <h6 class="text-muted">Nivel</h6>
                                              <button class="zoom" type="submit" style="background: none; color: orange; border:none"><h1 class="font-weight-blod">1</h1></button>
                                            </div>
                                          </div>
                                        </div>
                
                                      </div>
                
                                    </div>
                                  </div>
                              <button type="submit" class="btn btn-primary" style=" width:100%; position:relative; top:2%;">Sube tus tickets y gana puntos</button>
                            </div>
                          </div>

                    </div>
                  </section>
                  

                  <section>
                    <div class="col mb-12">
                        <div class="card">
                          <div class="card-header" style="background-color: white;">
                            <h5 class="font-weight-bold mb-0">Ultimos movimientos</h5>
                          </div>
                          <div class="card-body">
                            
                            <div class="container py-1">
                              <table class="table table-borderless">
                                  <tbody>
                                    {% for ticket in tickets %}
                                    <tr>
                                      <td class="font-weight-bold mb-0" style="color:sandybrown;">{{ticket.6}}</td>
                                      <td>Devolución</td>
  
                                      
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                  </section>
              </div>
          </div>

      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      function chat()
      {
          document.getElementById("bot").style.display="block";
          document.getElementById("bit").style.display="none";
      }
      $('#calificar').click(function(){
        var id_call = document.getElementById('id_call').value;
        var cali = document.getElementById('cali').value;
        
        $.ajax({
          type: 'POST',
          url: '/calificar',
          headers:{
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({"id_call":id_call,
                                "cali":cali}),
          dataType: "json",
          success: function(res){
            alert("Hemos registrado exitosamente tu calificación");
          },
          error: function(res){
            alert("algo salio mal")
          }
        })
      })
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $('#btn_edi').click(function(){
        var editicket = document.getElementById('editicket').value;
        var ediestado = document.getElementById('ediestado').value;
        var ediproducto = document.getElementById('ediproducto').value;
        var edidireccion = document.getElementById('edidireccion').value;
        var edirazon = document.getElementById('edirazon').value;
        
        $.ajax({
          type: 'POST',
          url: '/editar',
          headers:{
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({"editicket":editicket, 
                                "ediestado":ediestado, 
                                "ediproducto":ediproducto, 
                                "edidireccion":edidireccion, 
                                "edirazon":edirazon }),
          dataType: "json",
          success: function(res){
            alert("Se ha editado exitosamente el ticket");
          },
          error: function(res){
            alert("algo salio mal")
          }
        })
      })

      $('#btn_bor').click(function(){
        
        var borrid = document.getElementById('borrid').value;
        
        $.ajax({
          type: 'POST',
          url: '/borrar',
          headers:{
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({"borrid":borrid }),
          dataType: "json",
          success: function(res){
            alert("Se ha borrado exitosamente el ticket");
          },
          error: function(res){
            alert("algo salio mal")
          }
        })
      })
    </script>
  


  </body>
</html>