<!DOCTYPE html>
<html lang="en">
<title>Bienvenido</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" type="image/png" href="static/img/icons/favicon.ico"/>

<link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
<link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="static/css/util.css">
<link rel="stylesheet" type="text/css" href="static/css/login.css">
<link rel="stylesheet" type="text/css" href="static/css/perfil.css">
<link rel="stylesheet" type="text/css" href="static/css/navbar.css">


<style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

</style>


<body style=" padding: 0; margin: 0;">

  {% if incompleto %}
  <div class="modal" id="modalDev">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Devovler Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="cancelMod">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/borrar" method="POST">
      <div class="modal-body">
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">¿Estas seguro que quieres Devolver este producto?</label>
            <p></p>
            <div class="form-row">

              <div class="form-group" style="float:left">
                <span for="inputPassword4">Producto: </span>
                <label class="form-control" id="ediproducto" ></label>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <span for="inputEmail4">Dirección: </span>
                <input type="text" class="form-control" id="direccion" >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <span for="inputEmail4">Razón de la devolucón: </span>
                <textarea  class="form-control" id="razon" ></textarea>
              </div>
            </div>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" name="cancelMod" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="devolver2" type="button" class="btn btn-primary"> Devolver</button>
      </form>
      </div>
    </div>
  {% endif %}



  {% if onboarding == 0 %}
  <div id="OnBoard"  class="onBoardingOverlay">
    <div  style="margin: auto; height: 60%;width: 60%; margin-top: 20%;">
      <div class="bubble">
        <div id="textBot">
          ¡Hola!. 
          <br>Soy BitBot, tu bot asistente, estoy aquí para ayudarte en tu primer día
          <br>¡Vamos a comenzar!.
        </div>
        <button id="skip" style="color: white;"><i class="fa fa-power-off" style="text-align: left;color: white;" aria-hidden="true"></i>No gracias  </button>
        <button id="btnAgrRes" style="color: white; margin-left: 3%;"><i class="fa fa-arrow-right" style="text-align: left;color: white;" aria-hidden="true"></i>¡Vamos!</button>
      </div>
      <img src="static/img/botHelp.png" class="circle">
    </div>
  </div>
  {% endif %}
  
  {% if onboarding == 1 %}
  <div class="onBoardingOverlay">
    <div  style="margin: auto; height: 40%;width: 46%; margin-top: 27%;">
      <div class="bubble" id="bubble">
        <div id="textBot">
          Genial
          <br>Ya subiste tu primer recibo.
          <br>¡Vamos a verlo!.
        </div>
        <button id="btnHist"><i class="fa fa-arrow-right" style="text-align: left;color: white;" aria-hidden="true"></i></button>
      </div>
      <img src="static/img/botHelp.png" id="bipbop" class="circle">
    </div>
  </div>
  {% endif %}

  {% if onboarding == 2 %}
  <div class="onBoardingOverlay">
    <div  style="margin: auto; height: 40%;width: 46%; margin-top: 27%;">
      <div class="bubble" id="bubble">
        <div id="textBot">
          Ya viste tu historial
          <br>Ahora solo queda un paso más.
          <br>¡Inspeccionar un producto!.
        </div>
        <button id="btnProd"><i class="fa fa-arrow-right" style="text-align: left;color: white;" aria-hidden="true"></i></button>
      </div>
      <img src="static/img/botHelp.png" id="bipbop" class="circle">
    </div>
  </div>
  {% endif %}

  {% if onboarding == 3 %}
  <div id="OnBoard" class="onBoardingOverlay">
    <div  style="margin: auto; height: 40%;width: 46%; margin-top: 27%;">
      <div class="bubble" id="bubble">
        <div id="textBot">
          ¡Excelente!
          <br>Completaste tu tutorial.
          <br>Pero no te preocupes, si me necesitas para otra cosa, aquí estare.
        </div>
        <button id="gracias" style="color: white;">¡Gracias BitBot!<i class="fa fa-thumbs-o-up" style="text-align: left;color: white;" aria-hidden="true"></i></button>
      </div>
      <img src="static/img/botHelp.png" id="bipbop" class="circle">
    </div>
  </div>
  {% endif %}



<!-- Navbar -->
<div class="w3-top naav" id="Nav">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-left" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
    <a href="/historial" id="hist" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Historial</a>
    <a href="/conversion" id="conv" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Conversion</a> 
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" id="catG" title="More">Productos<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/catalogo" id="cat" class="w3-bar-item w3-button">Catalogo</a>
        <a href="/tester" id="test" class="w3-bar-item w3-button">Inspeccionar producto</a>
      </div>
    </div>
    <a href="/close" id="close" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Cerrar Sesion</a>
    <div class="w3-right row">
      <div class="col-sm-2">
        <img src="static/Selfie/{{g.foto}}" class="w3-bar-item" style="height: 60px; width: 80px;" alt="">
      </div>
      <div class="col">
        <h5 class="card-title w3-bar-item w3-padding-large w3-hide-small">Bienvenid@ - {{g.user}}</h5>
      </div>
    </div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top naav" style="margin-top:46px; position: absolute; z-index: 5000;">
  <a href="/historial" id="histC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Historial</a>
  <a href="/conversion" id="convC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Conversion</a>
  <a href="/catalogo" id="catC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Catalogo</a>
  <a href="/tester" id="testC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Inspeccionar producto</a>
  <a href="/close" id="closeC" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Cerrar sesion</a>
</div>

<!-- Page content -->
<div>

 
  {% if errorLog %}
	<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
      <header class="w3-container w3-pale-yellow"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h4>Error</h4>
      </header>
      <div class="w3-container">
        <p>{{ errorLog }}</p>
      </div>
    </div>
  </div>
</div>
  {% endif %}
  
 

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide" style="padding-bottom: 5%;">GANA PUNTOS Y AHORRA DINERO</h2>
    <div class="jumbotron gradient" style="width: 87%; margin: auto;">
      <div class="row align-items-center">
        <div class="col" style="margin-bottom:3%">
              <button id="puntos" class="btn btn-primary btn-circle btn-xl" href="/historial"><h1>{{puntos}}</h1><p style="font-size: 12px;color: white;">Puntos acumulados</p></button>
        </div>
        <div class="col" style="margin-bottom:3%">
              <button id="puntosF" class="btn btn-primary btn-circle btn-xl" ><h1>{{puntosF}}</h1><p style="font-size: 12px;color: white;">Puntos en espera</p></button>
        </div>
        <div class="col" style="margin-bottom:3%">
          <button id="nivel" class="btn btn-primary btn-circle btn-xl" ><h1>{{nivel}}</h1><p style="font-size: 12px;color: white;">Nivel</p></button>
    </div>
      </div>
  
      <p class="etiquetanum centrar-texto" style="color: white; font-size: 14px; margin: 5%;">Proxima fecha de expiración {{expiracion}} </p>
      <a class="login100-form-btn" id="subirRes" style="background-color: #4444dd" href="/recibos" role="button">Añadir Compra</a>
      <a class="login100-form-btn" style="margin-top:4%" id="inspP" style="background-color: #4444dd" href="/tester" role="button">Inspeccionar Producto</a>

    </div>

  </div>

  
<!-- End Page Content -->
</div>


<script>
// Automatic Slideshow - change image every 4 seconds

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="static/js/login.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

$('button[name ="cancelMod"]').click(function(){
          document.getElementById("modalDev").style.display="none";

        })

      $('button[name ="devolver"]').click(function(){
        //alert("lcick")
        var dataDev=[]
        var elems= $(this).closest("tr").children("td")
        //console.log(elems)
        elems.each(function () {
          //console.log($(this).text());
          dataDev.push($(this).text());

        });
        console.log(dataDev)
        $('#ediproducto').text(dataDev[0])
        document.getElementById("modalDev").style.display="block";

      })

      $('#devolver2').click(function(){
        var obj = document.getElementById('ediproducto').innerHTML;
        var razon = document.getElementById('razon').value;
        var dom = document.getElementById('direccion').value;
        
        $.ajax({
          type: 'POST',
          url: '/devolver',
          headers:{
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({"objeto":obj,
                                "razon":razon,
                                "domicilio":dom}),
          dataType: "json",
          success: function(res){
            console.log(res)
            alert("Se guardo la devolucion");
            document.getElementById("modalDev").style.display="none";
          },
          error: function(res){
            alert("algo salio mal")
          }
        })
      })




   $('#btnAgrRes').click(function () {
    document.getElementById('subirRes').style.zIndex=1000;
    document.getElementById('textBot').innerHTML="Lo primero es agregar puntos.<br>Da click en el boton de 'Añadir Compra' para subir tu primer recibo"
    document.getElementById('btnAgrRes').style.display='none';

  });

  $('#puntos').click(function () {
    window.location.href = "/historial";
  });
  $('#puntosF').click(function () {
    window.location.href = "/historial";
  });
  $('#nivel').click(function () {
    window.location.href = "/rewards";
  });
  $('#gracias').click(function () {
    document.getElementById('OnBoard').style.display="none";
    $.ajax({
      type: 'POST',
      url: '/OnBoard',
      headers:{
        'Content-Type':'application/json'
      },
      data: JSON.stringify({"estado":"4"}),
      dataType:"json",
      success: function(res) {
        console.log('cambio!');                      
      },
      error: function() {
       console.log("No se cambio el usuario");
      }
    });
  });


  $('#skip').click(function () {
    document.getElementById('OnBoard').style.display="none";
    $.ajax({
      type: 'POST',
      url: '/OnBoard',
      headers:{
        'Content-Type':'application/json'
      },
      data: JSON.stringify({"estado":"4"}),
      dataType:"json",
      success: function(res) {
        console.log('cambio!');                      
      },
      error: function() {
       console.log("No se cambio el usuario");
      }
    });
  })


  $('#btnHist').click(function () {
    document.getElementById('Nav').style.zIndex=2000;
    document.getElementById('navDemo').style.zIndex=2000;
    document.getElementById('textBot').innerHTML="Da click en tu historial, el cual se encuentra en el menu";
    document.getElementById('catG').style.visibility="hidden";
    document.getElementById('conv').style.visibility="hidden";
    document.getElementById('cat').style.visibility="hidden";
    document.getElementById('test').style.visibility="hidden";
    document.getElementById('close').style.visibility="hidden";
    
    document.getElementById('convC').style.visibility="hidden";
    document.getElementById('catC').style.visibility="hidden";
    document.getElementById('testC').style.visibility="hidden";
    document.getElementById('closeC').style.visibility="hidden";

  });

  $('#btnProd').click(function () {
    document.getElementById('Nav').style.zIndex=2000;
    document.getElementById('navDemo').style.zIndex=2000;
    document.getElementById('inspP').style.zIndex=1000;

    document.getElementById('textBot').innerHTML="Puedes hacerlo dando click en el boton de inspeccionar producto<br>O con la opción en el menú";
    document.getElementById('hist').style.visibility="hidden";
    document.getElementById('conv').style.visibility="hidden";
    document.getElementById('cat').style.visibility="hidden";
    document.getElementById('close').style.visibility="hidden";
    
    document.getElementById('histC').style.visibility="hidden";
    document.getElementById('convC').style.visibility="hidden";
    document.getElementById('catC').style.visibility="hidden";
    document.getElementById('closeC').style.visibility="hidden";

  });
</script>
</body>
</html>
